#card-scroller {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.card-page {
    overflow-y: auto;
    scroll-snap-align: start;
    min-width: calc(100vw - 40px);
    height: 100vh;
    padding: 20px;
    position: relative;
}

.card, .balance {
    text-align: center;
}

.balance p {
    margin: 0;
}

.balance .value {
    font-size: 40px;
    font-weight: 800;
}

.buttons-grid {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.card-button {
    text-align: center;
}

.card-button button {
    background-color: var(--dark-blue);
    width: 70px;
    height: 70px;
    border-radius: 35px;
}